{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["@typescript-eslint", "import"],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "quotes": ["warn", "single"],
        "max-len": [
            "warn",
            {
                "code": 80
            }
        ],
        "object-curly-spacing": ["warn", "always"],
        "prettier/prettier": [
            "warn",
            {
                "printWidth": 80
            }
        ],
        "import/order": [
            "warn",
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index"
                ],
                "newlines-between": "always",
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ]
    },
    "overrides": [
        {
            "files": ["webpack.config.js"],
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        },
        {
            "files": ["*.scss.d.ts"],
            "rules": {
                "quotes": "off"
            }
        }
    ]
}
